@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Ubuntu:ital,wght@1,300&display=swap');

:root {
    --color-magenta: #872A74;
    --hover-hotmag: #5F004C;
    --color-red: red;
    --color-white: white;
    --color-black: rgb(34, 29, 29);
    --hebo: 'Heebo', sans-serif;
    --color-crimson: #dd1181;
}